.nav-wrapper {
    z-index: 20;
    background: radial-gradient(101.23% 226.86% at 105.57% 106.78%, rgba(183, 0, 139, 0.34) 10.42%, rgba(160, 22, 168, 0.958021) 84.25%), linear-gradient(123.03deg, rgba(255, 202, 67, 0.6) 6.71%, rgba(255, 211, 97, 0) 52.29%), #E76F2B;
    position: fixed;
    width: 100vw;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 3%;
}